
//    Font Family

$primary-font	: 'Montserrat', sans-serif;

/*--------------------------- Color variations ----------------------*/

$primary-color	: #4f3d97;
$primary-light	: #7261ba;
$secondary-color	: #ff7201;
$secondary-light	: #ff9825;
$teal-dark  :#00ae9a;
$teal-light  :#78d4c9;
$blue-dark  :#009ed2;
$blue-light  :#55cfde;
$pink-dark  :#df2181;
$pink-light  :#e663a5;
$lime-dark  :#a7d200;
$lime-light  :#d5e985;
$title-color	: #222222;
$text-color		: #777777;

$white			: #fff;
$offwhite		: #f9f9ff;
$black			: #222;
