
//    Font Family

$primary-font	: 'Montserrat', sans-serif;

/*--------------------------- Color variations ----------------------*/

$primary-color	: #4f3d97;
$primary-light	: #7261ba;
$secondary-color	: #ff7201;
$secondary-light	: #ff9825;
$comunicacion-color  :#f17960;
$comunicacion-dark  :#d95d43;
$comunicacion-light  :#ff8269;
$sociales-color: #784c9b;
$sociales-dark: #5e3380;
$sociales-light  :#936bb3;
$human-color  :#d6cbc1;
$human-dark  :#baa795;
$human-light  :#efefef;
$mate-color: #3d4c8e;
$mate-dark  :#313d73;
$mate-light  :#5868a8;
$experimental-color: #2cb59c;
$experimental-dark  :#179981;
$experimental-light  :#32ccb0;
$title-color	: #545454;
$text-color		: #777777;

$white			: #fff;
$offwhite		: #edf2f7;
$black			: #222;
