/* Correcciones plantilla */
#home {
	overflow: hidden;
	z-index: 999;
	background:white url("../img/code_bg.png?v=1");
	background-position: center;
	background-repeat: repeat-y;
	background-size: cover;
}
html{
	overflow-x: hidden;
}
body {
	/* background:white url("../img/background_1.png");
	background-position: center;
	background-repeat: repeat-y;
	background-size: contain; */
	font-family: "Montserrat";
	overflow-x: hidden;
}

.video-container video {
    height: 100%;
}

video.ilust-vid {
  /* override other styles to make responsive */
  width: 100%    !important;
  height: auto   !important;
}

.alert.alert-warning.warning-nav {
	top: 35px;
}


.naranja {color: #fe6e65}
.turquesa {color: #2cb59c}
.azul {color: #3d4c8e}
.magenta {color: #784c9b}
.verde {color: #d6cbc1}
.vino {color: #784c9b}

.naranja-fnd {background: #fe6e65}
.turquesa-fnd {background: #2cb59c}
.azul-fnd {background: #3d4c8e}
.magenta-fnd {background: #784c9b}
.verde-fnd {background: #d6cbc1}
.vino-fnd {background: #784c9b}

#myModal .modal-header .close {
    opacity: 1;
    margin: 0 -1rem 0 auto;
		text-shadow: none;
}

/* Vista de archivos y folders */

.separador {
    display: flex;
    margin: 10px 0;
    border-top: solid 1px #e8e8e8;
    padding-top: 15px;
}
.separador h5 {
    margin-right: 10px;
    padding-right: 10px;
    border-right: solid 1px #e4e7ea;
}
.switch {
    width: 25px;
    height: 25px;
    display: inline-block;
    background: #f1f2f2;
    border-radius: 8px;
    border: solid 1px #d6d6d7;
    cursor: pointer;
    margin-right: 5px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}
.switch.list-btn::after, .switch.grid-btn::after {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 14px;
    line-height: 13px;
    opacity: .75;
    color: #545454;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    padding: 5px;
    width: 21px;
    height: 21px;
    display: block;
}
.switch.list-btn::after {
	content: "\f03a";
}
.switch.grid-btn::after {
	content: "\f009";
}
.switch:hover::after {
    color: #4f3d97;
}
.switch:hover {
    background: #dedaee;
    color: #4f3d97;
    scale: 1.1;
}

.genric-btn img {
	height: 30px;
	margin-right: 5px;
}
.icn-area {
    display: inline-block;
    width: 33px;
    padding: 5px;
		margin: 0 5px;
    border-radius: 11px;
    text-align: center;
}
.area-com .icn-area {background: #FFB7B3}
.area-com .icn-area::after {
	content: "\f086";
	font-family: "Font Awesome 5 Free";
	font-weight: 900;
	font-size: 16px;
	line-height: 1;
	opacity: .75;
	color: #AD1C11;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.area-exp .icn-area {background: #ABF5E8}
.area-exp .icn-area::after {
	content: "\f492";
	font-family: "Font Awesome 5 Free";
	font-weight: 900;
	font-size: 16px;
	line-height: 1;
	opacity: .75;
	color: #056654;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.area-mate .icn-area {background: #9FA9D9}
.area-mate .icn-area::after {
	content: "\f698";
	font-family: "Font Awesome 5 Free";
	font-weight: 900;
	font-size: 16px;
	line-height: 1;
	opacity: .75;
	color: #263473;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.area-social .icn-area {background: #D1B7E6}
.area-social .icn-area::after {
	content: "\f0c0";
	font-family: "Font Awesome 5 Free";
	font-weight: 900;
	font-size: 16px;
	line-height: 1;
	opacity: .75;
	color: #5E3380;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.area-hum .icn-area {background: #E0D6CE}
.area-hum .icn-area::after {
	content: "\f66f";
	font-family: "Font Awesome 5 Free";
	font-weight: 900;
	font-size: 16px;
	line-height: 1;
	opacity: .75;
	color: #82694F;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}


#inter{
		background-color: #3d4c8e;
	}

#inter .sidebar .single-slidebar {
    background-color: transparent;
	}

	.loadmore-btn {
	    text-align: center;
	    background-color: #3d4c8e;
	    color: #fff;
	    padding: 8px 15px;
	    margin-bottom: 60px;
	    max-width: 200px;
	}

.area-com:hover {
	background: #fe6e65;
}
.area-mate:hover {
	background: #3d4c8e;
}
.area-hum:hover {
	background: #d6cbc1;
	color: #262626;
}
.rec-vid:hover {
	background: #784c9b;
}
.area-exp:hover {
	background: #2cb59c;
}
.sin-area:hover {
	background: #545454;
}

.resource-btn {
    display: inline-block;
    background-color: #fff;
    border: 1px solid #eee;
    padding: 6px 10px;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
		text-transform: uppercase;
    font-weight: 500;
		font-size: 18px;
    color: #222;
}
.resource-btn:hover {
    background-color: #a6d200;
}
#recursos a {
    text-decoration: none;
}
.grid .previo {
	width: calc(100% - 10px);
	height: 150px;
	border-radius: 8px;
	overflow: hidden;
	display: inline-block;
	margin: 5px;
}
.grid .previo img {
	-o-object-fit: cover;
	object-fit: cover;
	width: 100%;
	height: 300px;
	object-fit: cover;
	max-height: 200px;
	object-position: 50% 50%;
}
.list .previo {
	width: 80px;
	height: 80px;
	border-radius: 8px;
	overflow: hidden;
	display: inline-block;
	margin: 5px;
}
.list .previo img {
	-o-object-fit: cover;
	object-fit: cover;
	width: 100%;
	height: 100px;
	object-fit: cover;
	max-height: 200px;
	object-position: 50% 50%;
}
.grid .info {
	display: inline-block;
	margin: 15px;
	overflow: hidden;
	text-overflow: ellipsis;
	width: calc(100% - 30px);
  box-sizing: border-box;
}
.list .info {
	display: flex;
	flex: 1;
	margin: 5px 10px;
	overflow: hidden;
	text-overflow: ellipsis;
	box-sizing: border-box;
	align-items: center;
}
a .cbp-vm-title, a .cbp-vm-details {
	color: #545454;
	text-decoration: none;
	font-size: 13px;
}
a:-webkit-any-link {
	text-decoration: none;
}
.single-service:hover .cbp-vm-title, .single-service:hover .cbp-vm-price, .single-service:hover .cbp-vm-details{
    color: #fff;
}
.single-service:hover .resource-btn .fa {
    color: #222;
}
.grid .cbp-vm-details {
    height: 21px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
}
.cbp-vm-image {
	display: block;
	margin: 0 auto;
}

.cbp-vm-image img {
	display: inline-block;
	max-height: 40px;
}

.cbp-vm-title {
	margin: 0;
	padding: 0;
	color: #545454;
	text-decoration: none;
}
.list .cbp-vm-title {
	margin: 0 0 0 20px;
	padding: 0;
	flex: 5;
}

.cbp-vm-title h5 {
  margin-bottom: 0;
	font-size: 1.1em;
}

.cbp-vm-price {
	color: #8e8e8e;
}

.list .cbp-vm-price {
	display: inline;
	margin-right: 20px;
}
.cbp-vm-add {
  text-align: center;
  background-color: #a6d200;
  color: #fff;
  max-width: 200px;
	padding: 10px 20px;
	border-radius: 2px;
	margin: 20px 0 0 0;
	display: inline-block;
	transition: background 0.2s;
}

.cbp-vm-add:hover {
	color: #fff;
	background: #02639d;
}

.cbp-vm-add:before {
	margin-right: 5px;
}
.list a {
    border-bottom: solid 1px #e3e3e3 !important;
    display: block;
}

/* Slider custom */

.splide__pagination {
  bottom: 0 !important;
}
#splide01::after {
    position: absolute;
    display: ;
    display: block;
    width: 100%;
    height: 100%;
    background: transparent;
    content: '';
    top: 0;
    box-shadow: inset 12px 0 15px -18px rgba(176, 187, 200, 0.8), inset -12px 0 15px -18px rgba(176, 187, 200, 0.8);
    pointer-events: none;
}
.single-fcat i {
	font-size: 40px;
	padding: 20px;
	color: #536068;
}
div.single-fcat:hover i {
	color: white;
}
.single-fcat a {
    z-index: 999;
    position: relative;
}
div.single-fcat > div.circle {
  position: absolute;
	top:45px;
  left: 50% !important;
	z-index: 1;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  transform: translate(-50%,0) scale(0);
  transition: all 450ms ease 0ms;
}

div.single-fcat:hover > div.circle {
  border-radius: 50%;
  transform: translate(-50%,0) scale(2.5);
  transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
}

.fill-secondary {
	background: #fe6e65;
  background: linear-gradient(232deg, #fe6e65 0%, #c93328 100%);
}
.fill-teal {
	background: #2cb59c;
  background: linear-gradient(232deg, #2cb59c 0%, #0f806b 100%);
}
.fill-blue {
	background: #3d4c8e;
  background: linear-gradient(232deg, #3d4c8e 0%, #16235e 100%);
}
.fill-pink {
	background: #784c9b;
  background: linear-gradient(232deg, #784c9b 0%, #461e66 100%);
}
.fill-lime {
	background: #d6cbc1;
  background: linear-gradient(232deg, #d6cbc1 0%, #9e8770 100%);
}

/* Estilos recurso individual */
.single-widget h3 {
    margin-top: 0;
}
.details .title h5 {
    margin: 3px 0;
    color: #a0a0a0;
}
p#tema, p#audiencia, span#idioma, p#idioma, p#alcance, span#contacto, p#fecha-c {
	color: #fe6e65;
}
#busqueda-int {
    margin-top: 0;
		text-align: left;
}
#busqueda-int form {
	border-top: solid 1px #eee;
	/* margin-bottom: 10px; */
}
#busqueda-int .form-wrap {
    margin: 0;
}

/* Folders */
.carpetas-cont a:hover, .archivos-cont a:hover{
	text-decoration: none;
}
.single-promo-card {
	border-radius: 15px !important;
	border: none;
	background: #eef2f7 !important;
	font-size: 30px;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
	-webkit-transition: all 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.single-promo-card:hover {
	-webkit-transform: scale(1.03, 1.03);
          transform: scale(1.03, 1.03);
}
.single-promo-card::after {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    opacity: 0;
    border-radius: 13px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
		-webkit-transition: all 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
            transition: all 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
    content: '';
}
.single-promo-card:hover::after {
    opacity: 1;
}
.single-promo-card .card-header.p-0 {
    display: none;
}
.single-promo-card .card-body {
    padding: 15px;
    text-align: left;
}
.single-promo-card .h6 {
	font-size: 17px;
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	width: 100%;
}
.single-promo-card .h6 i{
	background-color: #bcd3ec;
	padding: 5px;
	border-radius: 6px;
	display: table;
	margin-bottom: 8px;
	line-height: 18px;
}
.single-promo-card a:hover {
    text-decoration: none;
    text-decoration-style: solid;
    text-decoration-color: transparent;
}

.breadcrumb {
	border-radius: 0;
	border-top: solid 1px #e9e9ea;
	border-bottom: solid 1px #e9e9ea;
	background-color: transparent !important;
	padding: 17px 0 !important;
}
.breadcrumb-item.active {
	background: rgba(0,123,255,1);
	background: -moz-linear-gradient(90deg, rgba(11,93,180,1) 0%, rgba(0,123,255,1) 60%);
	background: -webkit-linear-gradient(90deg, rgba(11,93,180,1) 0%, rgba(0,123,255,1) 60%);
	background: linear-gradient(90deg, rgba(11,93,180,1) 0%, rgba(0,123,255,1) 60%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0b5db4",endColorstr="#007bff",GradientType=1);
	color: white !important;
    font-weight: bold;
    border-color: #2774c6;
}
.breadcrumb-item:first-child {
    background: white;
    border-radius: 5px 1px 1px 5px;
		padding: 10px 15px 10px 15px;
}
.breadcrumb-item {
	padding: 10px 15px 10px 25px;
	border: solid 1px #d8dee3;
	position: relative;
	background: #edf2f7;
}
.breadcrumb-item:first-child::before {
	display: block;
	/* padding-right: .5rem; */
	/* padding-left: .5rem; */
	/* color: #6c757d; */
	content: "" !important;
	background: url('../img/flecha_bread_bca.png')no-repeat center center / cover;
	height: 46px;
	position: absolute;
	z-index: 9999;
	width: 23px;
	top: -1px;
	right: -19px;
}
.breadcrumb-item::before {
	display: block;
	/* padding-right: .5rem; */
	/* padding-left: .5rem; */
	/* color: #6c757d; */
	content: "" !important;
	background: url('../img/flecha_bread_gris.png')no-repeat center center / cover;
	height: 46px;
	position: absolute;
	z-index: 9999;
	width: 23px;
	top: -1px;
	right: -19px;
}

.breadcrumb-item.active::before {
	display: block;
	/* padding-right: .5rem; */
	/* padding-left: .5rem; */
	/* color: #6c757d; */
	content: "";
	background: url('../img/flecha_bread_azul.png')no-repeat center center / cover;
	height: 46px;
	position: absolute;
	z-index: 9999;
	width: 23px;
	top: -1px;
	right: -19px;
}
.contenido-principal {
    padding: 0 10px;
}
